// main: ../style.css, out: false

.element-menu {
	display: grid;
	gap: 2rem 3rem;
	max-width: 40rem;

	@media screen and (min-width: 768px) {
		grid-template-columns: 225px 1fr;
		gap: 0 1.75rem;
		max-width: 65rem;
	}
}

.img {
	height: 200px;
	width: 100%;
	border-radius: 0.5rem;
	display: block;
	object-fit: cover;

	@media screen and (min-width: 768px) {
		height: 175px;
	}

	@media screen and (min-width: 1200px) {
		height: 150px;
	}
}

.element-info {
	box-sizing: border-box;
}

.item-text {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	border-bottom: 3px dotted #64748b;
	box-sizing: border-box;
}

.item-title {
	margin: 0 0 1rem;
	font-weight: 400;
	font-size: 2rem;
	text-transform: capitalize;
	color: @text-color;
	letter-spacing: 1px;
}

.price {
	box-sizing: border-box;
	color: @accent-color;
	letter-spacing: 1px;
}

.item-description {
	margin: 0;
	color: #64748b;
	padding-top: 1rem;
	line-height: 1.75;
}
